.venv/
.git/
.dvc/cache/
__pycache__/
*.pyc

data/raw/
data/processed/
data/interim/

mlflow.db
mlruns/
mlartifacts/

reports/
notebooks/

kaggle.json
.env
.streamlit/secrets.toml

artifacts/training/
artifacts/**/*.h5
artifacts/**/*.joblib

!artifacts/efficientnetb0/
!artifacts/efficientnetb0/efficientnetb0_frozen_best.keras